body {
    font-family: Arial, sans-serif;
    background: #fefefd;
    text-align: center;
    margin: 0;
}

h1 {
    color: #d06f17;
    margin-top: 24px;
}

#game-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 24px;
}

canvas {
    border: 3px solid #ae7f16;
    border-radius: 8px;
    margin-bottom: 16px;
}

#info {
    color: green;
    font-weight: bold;
    margin-top: 18px;
    font-size: 1.1em;
    min-height: 2em;
}
